<ion-header>
  <ion-toolbar>
    <ion-item lines="none"><ion-label style="text-align: center;"><b>Inventário</b></ion-label></ion-item>
    <ion-back-button slot="start" [routerLink]="['/home']"></ion-back-button>
    <ion-button slot="end" fill="clear" (click)="logout()"><ion-icon name="log-out-outline"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>
 
<ion-content>
  
  <div>
    <ion-card-header *ngIf="tags.length">Tags encontradas:</ion-card-header>
      <ion-card *ngFor="let tag of tags">
        <ion-label><br>&nbsp;&nbsp;&nbsp;<b>Material</b></ion-label>
        <ion-card-content>{{tag}}</ion-card-content>
      </ion-card>
  </div>
 
</ion-content>