<ion-header>
  <ion-toolbar>
    <ion-item lines="none"><ion-label style="text-align: center;"><b>Registro de locais</b></ion-label></ion-item>
    <ion-back-button slot="start" [routerLink]="['/home']"></ion-back-button>
    <ion-button slot="end" fill="clear" (click)="logout()"><ion-icon name="log-out-outline"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-item>
      <ion-label position="floating">Localidade</ion-label>
      <ion-input clear-input type="text" name="registerMaterialName" [(ngModel)]="registerMaterialName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Descrição da localidade</ion-label>
      <ion-input clear-input type="text" name="registerMaterialType" [(ngModel)]="registerMaterialType"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Nivel da localidade</ion-label>
      <ion-input clear-input type="text" name="registerMaterialTag" [(ngModel)]="registerMaterialTag"></ion-input>
    </ion-item>
    <ion-button (click)="login()" style="text-transform: none;" type="submit" expand="full" color="secondary">Registrar</ion-button>
  </ion-card>
  
  <ion-card>
  <ion-button (click)="getLocation()" style="text-transform: none;" id="trigger-button" color="secondary" expand="full">Localizações cadastradas</ion-button>
  <ion-popover trigger="trigger-button">
    <ng-template>
      <ion-content>
        <ion-list>
          <ion-item *ngFor="let location of locations">
            &nbsp;<b>{{location.nome}}</b><br>
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-popover>
</ion-card>
</ion-content>