<ion-header>
  <ion-toolbar>
    <ion-item lines="none"><ion-label style="text-align: center;"><b>Teletronic Sistema de Inventário</b></ion-label></ion-item>
    <ion-button slot="end" fill="clear" (click)="logout()"><ion-icon name="log-out-outline"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

 
<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col>
        <div>
          <ion-card class="squaredCard" button="true" [routerLink]="['/local-register']">
            <ion-item lines="none" class="squaredCardItem">
              <ion-label><b>Registro<br>de<br>locais</b></ion-label>
            </ion-item>
          </ion-card>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <ion-card class="squaredCard" button="true" [routerLink]="['/material-register']">
            <ion-item lines="none" class="squaredCardItem">
              <ion-label><b>Registro<br>de<br>material</b></ion-label>
            </ion-item>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>
          <ion-card class="squaredCard" button="true" [routerLink]="['/inventory']">
              <ion-item lines="none" class="squaredCardItem">
                <ion-label><b>Movimentação</b></ion-label>
              </ion-item>
            </ion-card>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <ion-card class="squaredCard" button="true" [routerLink]="['/register']">
              <ion-item lines="none" class="squaredCardItem">
                <ion-label><b>Registro<br>de<br>Usuários</b></ion-label>
              </ion-item>
            </ion-card>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>