<ion-header>
  <ion-toolbar>
    <ion-item lines="none"><ion-label style="text-align: center;"><b>Teletronic Sistema de Inventário</b></ion-label></ion-item>
    <ion-button slot="end" fill="clear" (click)="logout()"><ion-icon name="log-out-outline"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>


<ion-content color="medium dark">

  <ion-grid>
    <ion-row>
      <ion-col>
        <div>
          <ion-card class="squaredCard" button="true" [routerLink]="['/local-register']">
            <ion-card-content>
            <ion-item lines="none" class="squaredCardItem">
              <ion-label><b>Localizações</b></ion-label>
            </ion-item>
          </ion-card-content>
          </ion-card>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <ion-card class="squaredCard" button="true" [routerLink]="['/material-register']">
            <ion-card-content>
            <ion-item lines="none" class="squaredCardItem">
              <ion-label expand="block"><b>Ativos</b></ion-label>
            </ion-item>
          </ion-card-content>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>
          <ion-card class="squaredCard" button="true" [routerLink]="['/inventory']">
            <ion-card-content>
              <ion-item lines="none" class="squaredCardItem">
                <ion-label><b>Movimentação</b></ion-label>
              </ion-item>
            </ion-card-content>
            </ion-card>
        </div>
      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>
