<ion-header>
  <ion-toolbar>
    <ion-item lines="none"><ion-label style="text-align: center;"><b>Recuperar Senha&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b></ion-label></ion-item>
    <ion-buttons slot="start">
      <ion-back-button [routerLink]="['/login']"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form>
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" required></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button style="text-transform: none;" type="submit" color="danger" expand="block">Enviar</ion-button>
      </ion-col>
    </ion-row>
    <small>
      &nbsp; Informe o E-mail cadastrado para envio do link de recuperação de senha.
    </small>
  </form>
</ion-content>

